.container {
            background-color: black;
            position: absolute;
            height: 100%;
            width: 100%;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .moon {
            background-color: rgb(209, 223, 223);
            border-radius: 50%;
            height: 100px;
            width: 100px;
            margin-left: 30px;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%);
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        .earth {
            background-color: rgb(46, 46, 199);
            border-radius: 50%;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 200px;
            margin-top: 200px;
        }
        .orbit {
            border-radius: 50%;
            position: absolute;
            width: 400px;
            height: 400px;
            top: 50%;
            left: 50%;
            margin-left: -100px;
            margin-top: -100px;
            animation: spin 5s linear infinite;

        }
  